@{
    ViewBag.Title = "Install first database";
}

<section class="content-header">
    <h2 style="text-align:center">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
    <p style="text-align:center">Welcome to the application!</p>
</section>
<br />

<section class="content">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <input type="button" id="Install" value="Install" onclick="Install()" style="height:40px;width:100px;margin-left:-80px;background-color:#605ca8;color:white;border:none;" />
        </div>
    </div>
</section>

<script src="~/ScriptsFunctions/InstallDatas.js"></script>


