@model TS.DTO.Data
<!----------Sweet Alert-->
<script type="text/javascript" src="~/SweetAlert/sweetalert-master/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/SweetAlert/sweetalert-master/dist/sweetalert.css" />
<link rel="stylesheet" type="text/css" href="~/SweetAlert/sweetalert-master/themes/twitter/twitter.css" />

    <section class="content-header">
        <h3 style="text-align:center">
            Change Password<br />
        </h3><hr />
        <ol class="breadcrumb" style="border:none">
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home" style="font-size:x-small"></i> Home</a></li>

            <li class="active"><i class="glyphicon glyphicon-info-sign" style="font-size:x-small"></i>Change Password</li>
        </ol>
    </section>
    <br />
    <section class="content" style="margin-top:50px">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <label class="control-label">Username</label>
                                <input type="text" class="form-control" id="Username" placeholder="Username" />
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <label class="control-label">Old password</label>
                                <input type="password" class="form-control" id="Old" placeholder="Current password" />
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <label class="control-label">New password</label>
                                <input type="password" class="form-control" id="New" placeholder="New password" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid" style="margin-top:100px">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-5 col-md-10">
                                    <input type="button" id="change" value="Change" onclick="ChangePassword()" style="height:40px;background-color:#605ca8;color:white;border:none;width:150px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<script src="~/ScriptsFunctions/ChangePassword.js"></script>*@
<script>
    function ChangePassword() {
        var datas = {
            Username: $("#Username").val(),
            OldPassword: $("#Old").val(),
            NewPassword: $("#New").val()
        }
        $.ajax({
            url: "/User/ChangePassword",
            data: { data: datas },
            type: "POST",
            dataType: "json",
            success: function (result) {
                if (result.Ok == true) {
                    toastr.success(result.Message, { showDuration: 300 });
                    setTimeout(function () {
                        location.replace("/Home/Index");
                    }, 3000); //second message will appear 3 seconds later
                } else {
                    toastr.error(result.Message, { showDuration: 300 });
                }

            },
            error: function (a, b, c) {

            }
        })
    }
</script>


