@model TS.DTO.ChangePasswordDTO
<!----------Sweet Alert-->
<script type="text/javascript" src="~/SweetAlert/sweetalert-master/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/SweetAlert/sweetalert-master/dist/sweetalert.css" />
<link rel="stylesheet" type="text/css" href="~/SweetAlert/sweetalert-master/themes/twitter/twitter.css" />
 <section class="content-header">
        <h3 style="text-align:center">
            Forgot Password<br />
        </h3><hr />
        <ol class="breadcrumb" style="border:none">
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home" style="font-size:x-small"></i> Home</a></li>

            <li class="active"><i class="glyphicon glyphicon-question-sign" style="font-size:x-small"></i>Forgot Password</li>
        </ol>
    </section>
    <br />
    <section class="content" style="margin-top:50px">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Username</label>
                                <input type="text" class="form-control" id="Username" placeholder="Username" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="Enter email" />
                            </div>

                        </div>
                    </div>
                    <br />

                    <div class="container-fluid" style="margin-top:100px">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-5 col-md-10">
                                    <input type="button" id="send" value="Recover password" onclick="ForgotPassword()" style="height:40px;background-color:#605ca8;color:white;border:none;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<script src="~/ScriptsFunctions/ForgotPassword.js"></script>*@
<script>
    function ForgotPassword() {
        var host = ((location.href).split('/')[2]).split(':')[1];
        var datas = {
            Username: $("#Username").val(),
            Email: $("#Email").val()
        }
        $.ajax({
            url: "/User/ForgotPassword",
            data: { data: datas, host: host },
            type: "POST",
            dataType: "json",
            success: function (result) {
                if (result.Ok == true) {
                    toastr.success(result.Message, { showDuration: 300 });
                    setTimeout(function () {
                        location.replace("/Home/Index");
                    }, 3000); //second message will appear 3 seconds later
                } else {
                    toastr.error(result.Message, { showDuration: 300 });
                }

            },
            error: function (a, b, c) {

            }
        })
    }
</script>





